
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* *{
    border: 1px solid red;
} */

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color:rgb(255, 255, 255);
}

/* navbar styles */
nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    align-items: center;
}
nav ul li{
    list-style: none;
    text-align: center;
}
nav ul{
    display: flex;
    gap: 40px;
}
#home{
    border-radius: 36px;
    background: rgb(230, 83, 60);
    padding: 4px 10px 4px 10px;
}
nav div h2{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.menu-icon{
    display: none;
}

@media only screen and (max-width: 576px){
  
 nav ul{
    display: none;
 }
 .menu-icon{
    display: inline-block;
    float: right;
 }

}

/* section 1 style */
.sec-1{
    display: flex;
    flex-direction: row;
    gap: 40%;
    margin-right: 10%;
    margin-left:10%;
}
.sec-div2{
    position: relative;
}
.big-line{
    font-size: 78px;
    font-weight: 900;
}
.shape{
font-weight: 200;
}
.p1{
    font-size: 16px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
.sec-1-btn{
    display: flex;
    gap: 20px;
}
.sec-1-btn-1{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    padding: 16px 40px 16px 40px;

}
.sec-1-btn-2{
    border-radius: 42px;
    background: rgb(0, 0, 0);
    color: white;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgb(255, 255, 255);
}
.ex-btn1{
    padding: 10px 16px 10px 16px;
backdrop-filter: blur(10px);
background-color: rgba(255, 255, 255, 0.1);
border-radius: 15px;
position: absolute; right: 0px; top: 170px;
width:15%;
}
.ex-btn-1{
font-size: 20px;
font-weight:900;
}

.ex-btn2{
    padding: 10px 16px 10px 16px;
backdrop-filter: blur(10px);
background-color: rgba(255, 255, 255, 0.1);
border-radius: 15px;
position: absolute; right: 300px; top: 350px;
width: 15%;

}
.ex-btn-2{
    
}
@media only screen and (max-width: 576px)
{
    .sec-1{
        display: flex;
        flex-direction:column;
        width: 100%;
        margin-left: 0;
   
    }
    .ex-btn1{
        position: absolute; right: 100px; top: 170px;
    }
    .body2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .sec-1-btn{
margin-left: 15%;

    }
    .sec-div1{
        padding: 5%;
    }

}

/* section 2 style */
.sec-2{
   margin:5% 10% 5% 10%;

}
.sec-2-sub{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.sec-2-cmt{
text-align: center;
font-size: 14px;
font-weight: 400;
color: rgba(255, 255, 255, 0.5);
}
.sec-2-main{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 60px;

}
.task{
    text-align: center;
font-size: 18px;
font-weight: 600px;
}
.task-c{
    text-align: center;
font-size: 14px;
font-weight: 400px;
color: rgba(255, 255, 255, 0.5);
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 2px solid white;
    border-radius: 50%;
}

/* section 2 style */
.sec-3{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding: 40px 55px 40px 55px;
    border-radius: 2%;
}
.sec-3-main{
    font-size: 48px;
    font-weight: 900;

}
.sec-3-c{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);

}
.sec-3-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 60px 16px 60px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
}

.runimg{
    border-radius: 3%;
}

@media only screen and (max-width: 576px)
{
    .sec-2-main{
        flex-direction: column;
    }

    .sec-3{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
}


/* bmi subject style */
.bmi{
    margin-top: 90px;
    margin-bottom: 90px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.bmi-sub{
    font-size: 48px;
    font-weight: 900px;
    color: white;
    margin-bottom: 0px;
}
.bmi-cmt{
    font-size: 14px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    
}

@media only screen and (max-width: 576px)
{
    .bmi{
        margin-left:10%;
    } 

}

table,th,td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}
.td{
    padding: 15px 15px 15px 15px;
    color: rgba(255, 255, 255, 0.5);
}
th {
    padding:15px 15px 15px 15px ;
}
.sec-4{
    background-color: rgb(34, 34, 34);
    padding: 4% 15% 4% 15%; 
}
.sec-4-main{
    display: flex;
    flex-direction: row;
    gap: 12%;
  justify-content: center; 

}

@media only screen and (max-width: 576px){
 
    /* .sec-4{
        margin-left: 10%;
    } */
    .sec-4-main{
        flex-direction: column;
    
    }
}



.input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.6) ;
    padding: 18px;
    padding-right: 0px;
    width:95%
}
.select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.6);
    padding: 18px;
    width: 100%;
} 
.cal{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 20px 60px 20px 60px;
    font-size: 18px;
    font-weight: 600;
    color:white;
    margin-top: 5%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.item5{
    grid-column-start: 1;
    grid-column-end:3 ;
}

/* section5 style */
.gridd-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content:space-around;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 88px;
}
.itemm-1{
    background: url(../images/trainer1.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 272px;;
    border-radius: 18px;
 
}
.itemm-2{
background: url(../images/trainer2.png);
background-repeat: no-repeat;
    background-size: cover;
    height: 272px;
    border-radius: 18px;
   
}
.itemm-3{
background: url(../images/trainer3.png);
background-repeat: no-repeat;
    background-size: cover;
    height: 272px;
    border-radius: 18px;
    
}
.itemm-4{
background: url(../images/trainer4\ \(1\).png);
background-repeat: no-repeat;
    background-size: cover;
    height: 272px;
    border-radius: 18px;
     
}
.itemm-5{
background: url(../images/trainer5.png);
background-repeat: no-repeat;
    background-size: cover;
    height: 272px;
    border-radius: 18px;
  
}
.itemm-6{
background: url(../images/trainer6.png);
background-repeat: no-repeat;
    background-size: cover;
    height: 272px;
    border-radius: 18px;
   
}
.trainer-nam{
    margin-top: 50%;
    margin-left: 5%;
}
.trainer{
    margin-left: 5%;
    color:rgba(255, 255, 255, 0.5) ;
}

@media only screen and (max-width: 576px){
    .gridd-container{
        grid-template-columns: 1fr;
    }
}
/* footer design */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}
.sell1{
    width:35%;
    text-align: left;
}
.footer-head{
    font-size: 70px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.footer-sub{
    font-size: 32px;
    font-weight: 700;
}
.support{
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    
}


@media only screen and (max-width: 576px){
    .footer{
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }
    .sell1{
        width: 100%;
    }  
}

/* section 6 style */
.sec-6{
    background-image: url(../images/inside.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 10%; 
}
.unique{
    display: block;
    text-align: center;
    backdrop-filter: blur(10px);
    margin-right: 25%;
    margin-left: 25%;
    border-radius:28px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.unique-head{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.unique-sub{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(230, 83, 60);
}
.unique-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    padding: 16px 40px 16px 40px;
    margin-top: 20px;
    
}

@media only screen and (max-width: 576px){
    .sec-6{
        height:auto;
    }
    .unique{
        margin-right: auto;
        margin-left: auto;
    }
}



/* media query is best suitable for 576x1082 screen */











